@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #429973 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-2.5;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #429973;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
